﻿<%@ Page Title="Registro" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="RegistroAcademia._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

   <h1>ACADEMIA "YO SOLO SÉ, QUE NO SÉ NADA"</h1>
   <br />
   <hr />
   <br />
   <section>
       <div>
           INTRODUCE TU USUARIO: <br /><asp:TextBox ID="usuario" runat="server" placeholder="Usuario"></asp:TextBox>
       </div>
       <br />
       <hr />
       <asp:Button ID="login" runat="server" Text="Registrar Entrada" OnClick="loginButton" />
       <br />
       <hr />
       <div>
       <asp:Label ID="registrado" runat="server" Text=""></asp:Label>
       </div>    
        <div id="registro_fallido">
       <asp:Label ID="no_existe" runat="server" Text=""></asp:Label> 
       </div> 
   </section>

   

</asp:Content>
